[Unit]
Description=OOWV Controller

[Service]
Type=simple
ExecStart=/home/quantumfrog/venv/bin/python /home/quantumfrog/venv/Smartwatertank-Controller/oowvcontroller.py
Restart=on-failure

[Install]
WantedBy=multi-user.target